@use '@/shared/styles/variables' as *;

.scrollTop {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  width: 5rem;
  height: 5rem;
  border-radius: var(--radius-full);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding-top: 1.3rem;
  cursor: pointer;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;

  @media (min-width: $breakpoint-m) {
    right: 3rem;
    bottom: 3rem;
    width: 4.5rem;
    height: 4.5rem;
  }

  &.visible {
    opacity: 1;
    visibility: visible;
  }

  &:hover {
    box-shadow: var(--shadow-main);
  }

  &:active {
    transform: translateY(0);
  }
}
