@use '@/shared/styles/variables' as *;

.scrollTop {
  position: fixed;
  right: var(--spacing-m);
  bottom: var(--spacing-m);
  width: 40px;
  height: 40px;
  background: var(--primary-color);
  color: white;
  border-radius: var(--radius-full);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--fs-base);
  text-decoration: none;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-fast);
  z-index: 999;
  border: none;
  cursor: pointer;

  @media (min-width: $breakpoint-m) {
    right: var(--spacing-l);
    bottom: var(--spacing-l);
    width: 45px;
    height: 45px;
    font-size: var(--fs-h4);
  }

  @media (min-width: $breakpoint-l) {
    right: var(--spacing-lg);
    bottom: var(--spacing-lg);
    width: 50px;
    height: 50px;
    font-size: var(--fs-h5);
  }

  &.visible {
    opacity: 1;
    visibility: visible;
  }

  &:hover {
    transform: translateY(-2px);
    box-shadow: var(--shadow-main);

    @media (min-width: $breakpoint-m) {
      transform: translateY(-3px);
    }
  }

  &:active {
    transform: translateY(0);
  }
}
