@use '@/shared/styles/variables' as *;

.footer {
  background: url('@/assets/img/footer/footer-bg.svg');
  background-size: contain;
  padding: var(--spacing-2xl);
  color: var(--text-color-default);

  @media (min-width: $breakpoint-m) {
    padding: var(--spacing-4xl) 0 var(--spacing-2xl) 0;
  }
}

.widgetWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap-l);
  padding-bottom: var(--spacing-2xl);

  @media (min-width: $breakpoint-m) {
    flex-direction: row;
  }
}

.footerWidget {
  text-align: center;
  flex: 1;

  @media (min-width: $breakpoint-m) {
    text-align: left;
  }
}

.links,
.contactList {
  padding-top: var(--spacing-xl);
}

.description {
  width: 20rem;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-l);
  margin-top: var(--spacing-2xl);
  font-size: 1.2rem;

  @media (min-width: $breakpoint-m) {
    justify-content: start;
  }
}

.socials li a {
  text-align: center;
  color: var(--button-text-color);
  border-radius: var(--radius-full);
  background-color: var(--text-color-default);
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: var(--primary-color);
    transition: var(--transition-fast);
    transform: translateY(-2px);
  }
}

.links li a,
.contactList li {
  color: var(--text-color-default);
  padding: var(--spacing-s) 0;
}

.links li a:hover {
  color: var(--primary-color);
  transition: var(--transition-fast);
  transform: translateX(2px);
}

.contactMap iframe {
  width: 100%;
  height: 15rem;
  border: none;
  margin-top: var(--spacing-l);
  border-radius: var(--radius-m);
  box-shadow: var(--shadow-main);

  @media (min-width: $breakpoint-m) {
    width: 28rem;
  }
}

.copyRight {
  text-align: center;
  padding: var(--spacing-2xl) 0 0 0;
  border-top: 1px solid var(--border-color);
}
