@use '@/shared/styles/variables' as *;

.button {
  display: inline-block;
  font-weight: var(--fw-medium);
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 2px solid transparent;
  padding: var(--spacing-m) var(--spacing-xl);
  font-size: var(--fs-description);
  line-height: 1.4;
  border-radius: var(--radius-m);
  transition: var(--transition-fast);
  text-decoration: none;
  position: relative;
  z-index: 1;
  cursor: pointer;

  @media (min-width: $breakpoint-m) {
    padding: var(--spacing-l) var(--spacing-2xl);
    font-size: var(--fs-base);
    line-height: 1.5;
    border-radius: var(--radius-l);
  }

  &.primary {
    background: var(--primary-color);
    color: var(--button-text-color);
    border-color: var(--primary-color);

    &:hover {
      color: var(--button-text-hover);
      background: transparent;
      border-color: var(--primary-color);
      transform: translateY(-1px);
      box-shadow: var(--shadow-main);

      @media (min-width: $breakpoint-m) {
        transform: translateY(-2px);
      }
    }
  }

  &.secondary {
    background: transparent;
    color: var(--primary-color);
    border-color: var(--primary-color);

    &:hover {
      background: var(--primary-color);
      color: white;
      transform: translateY(-1px);

      @media (min-width: $breakpoint-m) {
        transform: translateY(-2px);
      }
    }
  }
}
