@use '@/shared/styles/variables' as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: var(--z-header);
  transition: var(--transition-fast);
  background-color: transparent;

  &.headerScrolled {
    background-color: var(--bg-header);
    box-shadow: var(--shadow-main);
  }
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-xl) 0;
}

.menuBarDesktop {
  display: none;

  @media (min-width: $breakpoint-m) {
    display: flex;
    align-items: center;
    gap: var(--spacing-2xl);
  }
}

.navbarNavDesktop {
  display: flex;
  margin: 0;
  padding: 0;
  gap: var(--gap-l);
}

.navItemDesktop {
  margin: 0;
}
