@use '@/shared/styles/variables' as *;

.faqButton {
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  padding: var(--spacing-l);
  font-size: var(--fs-nav-desktop);
  font-weight: var(--fw-semibold);
  color: var(--text-color-default);
  transition: var(--transition-fast);
  border-bottom: 1px solid var(--border-color);
  position: relative;

  &:hover {
    color: var(--primary-color);
  }

  &.active {
    color: var(--primary-color);
  }

  &::after {
    content: '+';
    padding: var(--spacing-l);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: var(--fs-h4);
    transition: transform var(--transition-base);
  }

  &.active::after {
    transform: translateY(-50%) rotate(45deg);
  }
}
