@use '@/shared/styles/variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-secondary);
  font-weight: normal;
  font-style: normal;
  color: var(--text-color);
  overflow-x: hidden;
  line-height: 1.6;
}

a {
  transition: var(--transition-base);
  text-decoration: none;

  &:hover {
    color: var(--primary-color);
    text-decoration: none;
  }

  &:focus {
    text-decoration: none;
    outline: none;
    box-shadow: none;
  }
  &:visited {
    text-decoration: none;
  }
}

i,
span,
a {
  display: inline-block;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-main);
  font-weight: 700;
  color: var(--text-color-default);
  line-height: 1.2;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

h4 {
  font-size: var(--fs-h4);
}

h5 {
  font-size: var(--fs-h5);
}

h6 {
  font-size: var(--fs-h6);
}

p {
  line-height: 1.7;
  color: var(--text-color-description);
  padding: var(--spacing-2xl) 0;
}

input,
textarea,
button {
  &:focus {
    text-decoration: none;
    outline: none;
    box-shadow: none;
  }
}

.container {
  width: 100%;
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: 0 var(--spacing-l);

  @media (min-width: $breakpoint-m) {
    max-width: 960px;
  }

  @media (min-width: $breakpoint-l) {
    max-width: var(--container-max-width);
  }
}

ul,
li {
  list-style: none;
}
