@use '@/shared/styles/variables' as *;

.serviceSection {
  padding: var(--spacing-2xl) 0;
  background-image: url('@/assets/img/service/service-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-width: $breakpoint-m) {
    padding: var(--spacing-4xl) 0;
  }
}

.serviceTitleWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: var(--spacing-l);

  @media (min-width: $breakpoint-m) {
    margin-bottom: var(--spacing-xl);
  }
}

.servicesGrid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--gap-l);

  @media (min-width: $breakpoint-m) {
    flex-direction: row;
  }
}

.singleService {
  text-align: center;
  background: var(--bg-card);
  padding: var(--spacing-2xl);
  border-radius: var(--radius-s);
  box-shadow: var(--shadow-main);
  transition: var(--transition-fast);

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);

    @media (min-width: $breakpoint-m) {
      transform: translateY(-10px);
    }
  }
}

.serviceContent h4 {
  padding-top: var(--spacing-l);
}

.serviceIcon {
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-full);
  margin: var(--spacing-l) auto;
  font-size: 2rem;

  &.iconColor1 {
    background-color: var(--accent-color-1);
    color: var(--button-text-color);
  }

  &.iconColor2 {
    background-color: var(--accent-color-3);
    color: var(--button-text-color);
  }

  &.iconColor3 {
    background-color: var(--accent-color-2);
    color: var(--button-text-color);
  }

  &.iconColor4 {
    background-color: var(--accent-color-4);
    color: var(--button-text-color);
  }
}
